{% if track_list %}
<script type="text/javascript">
    $(function() {
        $("button[name='delete']").each(function(){
            $(this).click(function(){
                event.preventDefault();
                index = Array.from($("button[name='delete']")).indexOf(this) + 1;
                count = $('#_list').find('div#track_title').length;
                if (index == currentTrack) {
                    if (count == 1) {
                        currentTrack = 0;
                    } else if (index == count) {
                        currentTrack = 1;
                    }
                } else if (index < currentTrack) {
                    --currentTrack;
                }
                $.ajax({
                    type: 'POST',
                    url: '/delete/',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'id': this.value},
                    success: function (data, textStatus) {
                        $('#_list').html(data);
                        paused = $('#audio')[0].paused;
                        if (currentTrack == 0) {
                            $('#audio')[0].src = "";
                            $('#title')[0].innerText = "";
                        } else {
                            $('#title')[0].innerText = $('#track'+currentTrack).find('div#track_artist')[0].innerText +
                                                           " - " +
                                                           $('#track'+currentTrack).find('div#track_title')[0].innerText;
                            if ($('#audio')[0].src !== $('#track'+currentTrack).find('a#track_url')[0].href)
                            {
                                $('#audio')[0].src = $('#track'+currentTrack).find('a#track_url')[0].href;
                                if (!paused) $('#audio')[0].play();
                            }
                        }
                    }
                });
            });
        });
        _play = function (e) {
            currentTrack = index;
            $('#audio')[0].src = $('#track'+currentTrack).find('a#track_url')[0].href;
            $('#title')[0].innerText = $('#track'+currentTrack).find('div#track_artist')[0].innerText +
                                       " - " +
                                       $('#track'+currentTrack).find('div#track_title')[0].innerText;
            $('#audio')[0].play();
            $(this).replaceWith("<button name='pause' value='"+index+"' class='btn btn-success col-1 m-1'>Pause</button>");
            $("button[name='pause']")[0].addEventListener("click", _pause, false);
            $("button[name='pause']")[0].addEventListener("mouseleave", _update, false);
        };
        _update = function (e) {
            index = this.value;
            $(this).replaceWith("<div name='track_index' class='col-1 m-1'>"+index+"</div>");
            $("div[name='track_index']").filter(function() { return this.innerText == index; })[0].addEventListener("mouseenter", _enter, false);
        };
        _play_after_pause = function (e) {
            $('#audio')[0].play();
            index = this.value;
            $(this).replaceWith("<button name='pause' value='"+index+"' class='btn btn-success col-1 m-1'>Pause</button>");
            $("button[name='pause']")[0].addEventListener("click", _pause, false);
            $("button[name='pause']")[0].addEventListener("mouseleave", _update, false);
        };
        _pause = function (e) {
            $('#audio')[0].pause();
            index = this.value;
            $(this).replaceWith("<button name='play' value='"+index+"' class='btn btn-success col-1 m-1'>Play</button>");
            $("button[name='play']")[0].addEventListener("click", _play_after_pause, false);
            $("button[name='play']")[0].addEventListener("mouseleave", _update, false);
        };
        _enter = function(){
            index = parseInt(this.innerText);
            event.preventDefault();
            if (currentTrack !== index)
            {
                $(this).replaceWith("<button name='play' value='"+index+"' class='btn btn-success col-1 m-1'>Play</button>");
                $("button[name='play']")[0].addEventListener("click", _play, false);
                $("button[name='play']")[0].addEventListener("mouseleave", _update, false);
            } else if ($('#audio')[0].paused) {
                $(this).replaceWith("<button name='play' value='"+index+"' class='btn btn-success col-1 m-1'>Play</button>");
                $("button[name='play']")[0].addEventListener("click", _play_after_pause, false);
                $("button[name='play']")[0].addEventListener("mouseleave", _update, false);
            } else {
                $(this).replaceWith("<button name='pause' value='"+index+"' class='btn btn-success col-1 m-1'>Pause</button>");
                $("button[name='pause']")[0].addEventListener("click", _pause, false);
                $("button[name='pause']")[0].addEventListener("mouseleave", _update, false);
            }
        };
        $("div[name='track_index']").each(function(){
            $(this).mouseenter(_enter);
        });
    });
</script>
<div class="row">
    <div class="col-1 m-1">#</div>
    <div class="col m-1">Title</div>
    <div class="col m-1">Artist</div>
    <div class="col-1 m-1"></div>
</div>
{% for track in track_list %}
<div id="track{{ forloop.counter }}" class="row">
    <div name="track_index" class="col-1 m-1">{{ forloop.counter }}</div>
    <div id="track_title" class="col m-1">{{ track.title }}</div>
    <div id="track_artist" class="col m-1">{{ track.artists|join:", " }}</div>
    {% if track.file %}<div class="col-1" hidden><a id="track_url" href="{{ track.file.url }}">{{ track.file.name }}</a></div>{% endif %}
    <button name="delete" value="{{ track.id }}" class="btn btn-danger col-1 m-1">Delete</button>
</div>
{% endfor %}
{% endif %}