{% load static %}<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'playlist/bootstrap.min.css' %}">
        <script src="{% static 'playlist/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'playlist/ajax.js' %}"></script>
        <script src="{% static 'playlist/player.js' %}"></script>
        <title>Yandex Music Playlist</title>
    </head>
    <body>
        <div id="_list" class="container p-4">{% include "playlist/_list.html" %}
        </div>
        <div id="player" class="container p-4">
            <div class="row">
                <div id="title" class="col"></div>
            </div>
            <div class="row">
                <audio id="audio" controls class="col"></audio>
                <button id="prev_track" class="btn btn-primary col-1">Previous</button>
                <button id="next_track" class="btn btn-primary col-1">Next</button>
            </div>
        </div>
        <div id="_search" class="container p-4">
            {% include "playlist/_search.html" %}
        </div>
    </body>
</html>